html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
    div(class="navbar navbar-expand-lg navbar-light bg-light")
        a(href='/users' class='navbar-brand') User List
        span &nbsp
        a(href='/users/create' class='navbar-brand') Create User
        a(href='/products' class='navbar-brand') Products
        if user 
            p= user.name   
    .container.pt-5
        block content